<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout_admin"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.color.title}">Pricegsm :: Цвета</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <span th:text="#{page.color}">Цвета</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="clip-eyedropper"></i>
                    <span th:text="#{colors}">Редактирование цвета</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal"
                          th:action="@{'/admin/color/'+ ${color.id}}" th:object="${color}" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="name" th:text="#{color.name}">
                                Цвет
                            </label>
                            <div class="col-sm-9">
                                <input type="text" id="name" placeholder="Цвет" class="form-control"
                                       th:placeholder="#{color.name}" th:field="*{name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="yandexColor" th:text="#{color.yandexColor}">
                                Яндекс Цвет
                            </label>
                            <div class="col-sm-9">
                                <input type="text" id="yandexColor" placeholder="Яндекс Цвет" class="form-control"
                                       th:placeholder="#{color.yandexColor}" th:field="*{yandexColor}"/>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>