<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout_admin"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.admin.title}">Pricegsm :: Админка</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <span th:text="#{page.admin}">Админке</span>
                </h1>
            </div>
        </div>
        <div class="col-sm-12">
            <form enctype="multipart/form-data" class="form-horizontal"
                  th:action="@{'/admin/uploadFile'}"
                  method="post">

                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="file" name="file" />
                        </div>

                        <div class="col-sm-2 pg-button-separator">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save fa-lg"></i> <span th:text="#{button.save}">Сохранить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <th:block th:if="${message != null}">
                <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">
                    &nbsp;</div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>