<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout_admin"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.product.title}">Pricegsm :: Продукт</title>
</head>
<body>
<div class="container" layout:fragment="content">
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>
                <span th:text="#{page.product}">Продукт</span>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-eyedropper"></i>
                <span th:text="#{products}">Продукты</span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal"
                      th:action="@{'/admin/product/'+ ${productForm.yandexId} + '/' + ${vendorId}}" th:object="${productForm}"
                      method="post">

                        <div class="form-group col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 text-left pg-button-separator">
                                    <a th:href="${vendorId == 0}? @{/admin/product} : @{'/admin/product/' + ${vendorId} + '/vendor'}"
                                       type="button" class="btn btn-standard">
                                        <i class="fa fa-chevron-circle-left fa-lg"></i> <span th:text="#{button.back}">Назад</span>
                                    </a>
                                </div>

                                <div class="col-sm-6 text-right pg-button-separator">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save fa-lg"></i> <span th:text="#{button.save}">Сохранить</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('vendor')}? 'has-error'">
                            <label class="col-sm-2 control-label" for="vendor" th:text="#{product.vendor}">
                                Производитель
                            </label>

                            <div class="col-sm-7">
                                <select id="vendor" class="form-control" th:field="*{vendor}">
                                    <option value="0" th:text="#{option.select}"></option>
                                    <option th:each="v : ${vendors}"
                                            th:value="${v.id}"
                                            th:text="${v.name}">Apple Mobile</option>
                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('vendor')}"
                                      th:errors="*{vendor}">Ошибка</span>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-green" th:href="@{/admin/vendor/0}"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('type')}? 'has-error'">
                            <label class="col-sm-2 control-label" for="type" th:text="#{product.type}">
                                Категория
                            </label>

                            <div class="col-sm-7">
                                <select id="type" class="form-control" th:field="*{type}">
                                    <option value="0" th:text="#{option.select}"></option>
                                    <option th:each="v : ${types}"
                                            th:value="${v.id}"
                                            th:text="${v.name}">Мобильный телефон</option>
                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('type')}"
                                      th:errors="*{type}">Ошибка</span>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label class="col-xs-2 control-label" for="name" th:text="#{product.name}">
                                Наименование
                            </label>

                            <div class="col-xs-7">
                                <input type="text" id="name" class="form-control"
                                       th:field="*{name}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                      th:errors="*{name}">Ошибка</span>
                            </div>

                            <div class="col-xs-2">
                                <label class="checkbox-inline" for="active">
                                    <input type="checkbox" id="active" class="teal"
                                           th:field="*{active}"/>
                                    <span th:text="#{product.active}"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('yandexId')}? 'has-error'">
                            <label class="col-sm-2 control-label" for="yandexId" th:text="#{product.yandexId}">
                                Yandex Id
                            </label>

                            <div class="col-sm-9">
                                <input type="text" id="yandexId" class="form-control"
                                       th:field="*{yandexId}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('yandexId')}"
                                      th:errors="*{yandexId}">Ошибка</span>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('searchQuery')}? 'has-error'">
                            <label class="col-sm-2 control-label" for="searchQuery" th:text="#{product.searchQuery}">
                                Строка для поиска
                            </label>

                            <div class="col-sm-9">
                                <input type="text" id="searchQuery" class="tagsInput form-control"
                                       th:field="*{searchQuery}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('searchQuery')}"
                                      th:errors="*{searchQuery}">Ошибка</span>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('searchPriceListQuery')}? 'has-error'">
                            <label class="col-sm-2 control-label" for="searchPriceListQuery" th:text="#{product.masterFone}">
                                MasterFone
                            </label>

                            <div class="col-sm-9">
                                <input type="text" id="searchPriceListQuery" class="tagsInput form-control"
                                       th:field="*{searchPriceListQuery}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('searchPriceListQuery')}"
                                      th:errors="*{searchPriceListQuery}">Ошибка</span>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('excludeQuery')}? 'has-error'">
                            <label class="col-sm-2 control-label" for="excludeQuery" th:text="#{product.excludeQuery}">
                                Строка исключения
                            </label>

                            <div class="col-sm-9">
                                <input type="text" id="excludeQuery" class="tagsInput form-control"
                                       th:field="*{excludeQuery}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('excludeQuery')}"
                                      th:errors="*{excludeQuery}">Ошибка</span>
                            </div>
                        </div>

                    <div class="form-group" th:each="productColor,colorStat : *{colors}">
                        <div th:classappend="${#fields.hasErrors('colors[__${colorStat.index}__].color')}? 'has-error'">
                            <div class="col-sm-offset-2 col-sm-1" th:switch="${colorStat.index}">
                                    <button th:case="'0'" type="submit" name="addColor" class="btn btn-green" ><i class="fa fa-plus"></i></button>
                                    <button th:case="*" type="submit" name="removeColor" th:value="${colorStat.index}" class="btn btn-red" ><i class="fa fa-times"></i></button>
                                </div>
                            <input type="hidden" th:field="*{colors[__${colorStat.index}__].productId}"/>
                            <label class="col-sm-1 control-label" for="color" th:text="#{color}">
                                Цвет
                            </label>

                            <div class="col-sm-2">
                                <select id="color" class="form-control"
                                        th:field="*{colors[__${colorStat.index}__].color}">
                                    <option value="0" th:text="#{option.select}"></option>
                                    <option th:each="o : ${colors}"
                                            th:value="${o.id}"
                                            th:text="${o.name}">Gray Space
                                    </option>
                                </select>
                                    <span class="help-block"
                                          th:if="${#fields.hasErrors('colors[__${colorStat.index}__].color')}"
                                          th:errors="*{colors[__${colorStat.index}__].color}">Ошибка</span>
                            </div>

                        </div>


                        <div th:classappend="${#fields.hasErrors('colors[__${colorStat.index}__].colorQuery')}? 'has-error'">
                            <label class="col-sm-2 control-label" th:for="${'colorQuery' + colorStat.index}"
                                   th:text="#{product.colorQuery}">
                                Строка цвета
                            </label>

                            <div class="col-sm-3">
                                <input type="text" th:id="${'colorQuery' + colorStat.index}"
                                       class="tagsInput form-control"
                                       th:field="*{colors[__${colorStat.index}__].colorQuery}"/>
                                    <span class="help-block"
                                          th:if="${#fields.hasErrors('colors[__${colorStat.index}__].colorQuery')}"
                                          th:errors="*{colors[__${colorStat.index}__].colorQuery}">Ошибка</span>
                            </div>
                        </div>
                    </div>

                        <div class="form-group col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 text-left pg-button-separator">
                                    <a th:href="${vendorId == 0}? @{/admin/product} : @{'/admin/product/' + ${vendorId} + '/vendor'}"
                                       type="button" class="btn btn-standard">
                                    <i class="fa fa-chevron-circle-left fa-lg"></i> <span
                                        th:text="#{button.back}">Назад</span>
                                    </a>
                                </div>

                                <div class="col-sm-6 text-right pg-button-separator">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save fa-lg"></i> <span th:text="#{button.save}">Сохранить</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
<div th:replace="fragments/delete_modal :: delete_modal">&nbsp;</div>
</div>
</body>
</html>