<header class="no-border modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
            class="fa fa-times-circle fa-lg"></i></button>
</header>

<div xmlns:th="http://www.thymeleaf.org">
<div class="row form-group" ng-show="isShowRefreshedError">
    <div class="has-error form-group col-sm-10">
        <div class="form-control col-sm-offset-1">Данные не актуальны. Нажмите обновить.</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-right right-padding-5">Статус: {{order.status | statusFilter}}</div>
</div>
<h4 class="text-center">Заказ поставщику №{{order.id}}
    <small> от {{order.sendDate|date : 'd.M.yyyy'}}</small>
</h4>
<div class="row">
    <div class="col-sm-5">
        <div class="row">
            <div class="text-right col-sm-offset-2 col-sm-5 right-padding-5" th:text="#{order.seller}">Поставщик:</div>
            <div class="col-sm-5 left-padding-0">{{order.seller.organizationName}}</div>
        </div>
        <div class="row">
            <div class="text-right col-sm-offset-2 col-sm-5 right-padding-5" th:text="#{order.seller}">Контактное
                лицо:
            </div>
            <div class="col-sm-5 left-padding-0">{{order.seller.name}}</div>
        </div>
        <div class="row form-group">
            <div class="text-right col-sm-offset-2 col-sm-5 right-padding-5" pg-text="order.phoneNumber">Телефон</div>
            <div class="col-sm-5 left-padding-0">{{order.seller.managerPhone}}</div>
        </div>
        <div class="row">
            <div class="text-right col-sm-offset-2 col-sm-5 right-padding-5" th:text="#{order.buyer}">Покупатель:</div>
            <div class="col-sm-5 left-padding-0">{{order.buyer.organizationName}}</div>
        </div>
    </div>
</div>
<form id="orderForm" class="form-horizontal" name="orderForm">
    <div class="row form-group">
        <div class="col-sm-5">
            <div class="row form-group">
                <div class="text-right col-sm-offset-2 col-sm-5 control-label right-padding-5"
                     th:text="#{order.contactData}">Контактное лицо:
                </div>
                <div class="col-sm-5  left-padding-0">
                    <input type="text" class="form-control"
                           placeholder={{order.contactName}}
                           ng-model="order.contactName"/>
                </div>

            </div>
            <div class="row">
                <label class="text-right col-sm-offset-2 col-sm-5 right-padding-5">
                    <div class="control-label" pg-text="order.phoneNumber">Телефон</div>
                </label>

                <div class="col-sm-5 left-padding-0">
                    <input type="text" class="form-control"
                           placeholder={{order.phone}}
                           ng-model="order.phone"/>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-11">
                    <pg-delivery-selection
                            order="order"
                            delivery-places="deliveryPlaces">
                    </pg-delivery-selection>
                </div>
            </div>
            <div class="row vertical-center">
                <pg-date-list-selector class="col-sm-5"
                                       price-list="priceList"
                                       order="order">

                </pg-date-list-selector>
                <pg-order-time-period
                        order="order"
                        seller="order.seller"
                        min-delay="2"></pg-order-time-period>

            </div>
            <div class="row">
                <div class="row form-group">
                    <div class="col-sm-11">
                        <input class="form-control" type="text" placeholder="Примечание" ng-model="order.description"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <pg-order order="order"
              readonly={{!isRefreshed}}
              update-order="updateOrder(order)">
    </pg-order>
    <div class="row form-group">
        <div class="col-sm-offset-1 col-sm-5">
            <button type="button" class="btn btn-default" tooltip="Обновить" ng-click="$parent.refresh()">
                <i class="fa fa-refresh"></i>
                <span>Обновить</span>
            </button>
        </div>
    </div>
    <div class="row form-group" ng-show="showActuallityError">
        <div class="has-error form-group col-sm-10">
            <div class="form-control col-sm-offset-1">Даннoe предложение не актуально.</div>
        </div>
    </div>
    <pg-pricelist
            pricelist="priceList"
            order="order"
            on-select-action="selectPriceListPosition(data)">
    </pg-pricelist>
    <div class="row form-group">
        <div class="col-sm-offset-1 col-sm-5">

        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        Гарантия составляет {{order.seller.sellerFreeReplacement}}дн. на замену и
        {{order.seller.sellerFreeRepair}}дн. на бесплатный ремонт.
    </div>
    <div class="col-sm-offset-1 col-sm-10">
        Дополнительные условия: {{order.seller.sellerWarrantyAdditional}}
    </div>
</div>
</div>

<footer class="modal-footer">

    <div class="has-error form-group" ng-show="showSaveError">
        <div class="form-control">Данные не актуальны. Нажмите обновить.</div>
    </div>

    <button type="submit" class="btn btn-success" form="orderForm"
            ng-disabled="!formEnable(orderForm)" ng-click="save(orderForm, 'PREPARE')">
        <i class="fa fa-save"></i>
        <span>Сохранить</span>
    </button>

    <button type="button" class="btn btn-default" ng-click="review(order)" ng-disabled="!formEnable(orderForm)">
        <i class="fa fa-eye"></i>
        <span>Посмотреть</span>
    </button>

    <button type="submit" class="btn btn-success" form="orderForm"
            ng-disabled="!formEnable(orderForm)" ng-click="save(orderForm, 'SENT')">
        <i class="fa fa-save"></i>
        <span>Отправить</span>
    </button>

    <button type="reset" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
            class="fa fa-times-circle fa-lg"></i> <span pg-text="button.close"></span></button>
</footer>