<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
            class="fa fa-times-circle fa-lg"></i></button>
    <h1 class="gf-modal-heading" pg-text="orderPosition">Order</h1>
</header>

<div xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-3 text-right right-padding-5">Статус: {{order.status | statusFilter}}</div>
    </div>
    <h4 class="text-center">Накладная №{{order.id}}<small> от {{order.sendDate|date : 'd.M.yyyy'}}</small></h4>
    <div class="row">
        <div class="text-right col-sm-offset-1 col-sm-2 right-padding-5" th:text="#{order.seller}">Поставщик:</div>
        <div class="col-sm-3 left-padding-0">{{order.seller.name}}</div>
    </div>
    <div class="row form-group">
        <div class="text-right col-sm-offset-1 col-sm-2 right-padding-5" pg-text="order.phoneNumber">Телефон</div>
        <div class="col-sm-3 left-padding-0">{{order.seller.phone}}</div>
    </div>
    <div class="row">
        <div class="text-right col-sm-offset-1 col-sm-2 right-padding-5" th:text="#{order.buyer}">Покупатель:</div>
        <div class="col-sm-3 left-padding-0">{{order.buyer.name}}</div>
    </div>
    <form id="orderForm" class="form-horizontal" name="orderForm">
        <div class="row">
            <div class="text-right col-sm-offset-1 col-sm-2 control-label right-padding-5"
                 th:text="#{order.contactData}">Контактные данные:
            </div>
            <div class="col-sm-offset-2 col-sm-3">
                <label class="radio-inline">
                    <input ng-disabled="{{!order.seller.sellerPickup}}" name="pickup" type="radio"
                           ng-model="order.pickup" ng-value="true" ng-change="resetOtherDelivery('pickup')"/>
                    <span pg-text="order.delivery.pickup"></span>
                </label>
                <label class="radio-inline">
                    <input ng-disabled="{{!order.seller.sellerDelivery}}" name="delivery" type="radio"
                           ng-model="order.delivery" ng-value="true" ng-change="resetOtherDelivery('delivery')"/>
                    <span pg-text="order.delivery.delivery"></span>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <label class="text-right col-sm-offset-1 col-sm-2 control-label right-padding-5"
                   pg-text="order.name">Имя</label>

            <div class="col-sm-2  left-padding-0">
                <input type="text" class="form-control"
                       placeholder={{order.contactName}}
                       ng-model="order.contactName"
                       ng-change="updateName()"/>
            </div>

            <div class="col-sm-6">
                <input ng-show="order.pickup" ng-disabled="true" type="text" class="form-control"
                       placeholder={{order.seller.sellerPickupPlace}} ng-model="order.seller.sellerPickupPlace"/>
                <input ng-show="order.delivery" ng-disabled="true" type="text" class="form-control"
                       placeholder={{order.place}} ng-model="order.place"/>
            </div>
        </div>

        <div class="row vertical-center">
            <label class="text-right col-sm-offset-1 col-sm-2 right-padding-5">
                <div class="control-label" pg-text="order.phoneNumber">Телефон</div>
            </label>

            <div class="col-sm-2 left-padding-0">
                <input type="text" class="form-control"
                       placeholder={{order.phone}}
                       ng-model="order.phone"
                       ng-change="updatePhone()"/>
            </div>
            <label class="col-sm-1 margin-top-34 right-padding-5">
                <div class="control-label" pg-text="order.onDate">на дату</div>
            </label>

            <div class="col-sm-2 margin-top-34 left-padding-0">
                <select class="form-control" ng-model="order.deliveryDate"
                        ng-options="deliveryDate | date:deliveryDateFormat for deliveryDate in possibleDeliveryDates">
                    <option ng-show="showPastDate" value="" disabled>{{order.deliveryDate | date:deliveryDateFormat}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="margin-top-5">с</label>

                <div style="display:inline-block;">
                    <timepicker ng-model="order.fromTime" minute-step="30" show-meridian="false"
                                ng-change="limitFromTime(order.delivery)">
                    </timepicker>
                </div>

                <label class="margin-top-5">до</label>

                <div style="display:inline-block;">
                    <timepicker ng-model="order.toTime" minute-step="30" show-meridian="false"
                                ng-change="limitToTime(order.delivery)">
                    </timepicker>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-offset-5 col-sm-6">
                <input class="form-control" type="text" placeholder={{order.description}} ng-model="order.description"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-condensed pg-pricelist">
                    <thead>
                    <tr>
                        <th pg-text="priceListPosition.name">Наименование</th>
                        <th pg-text="color">цвет</th>
                        <th pg-text="note">примичание</th>
                        <th class="pg-amount" pg-text="page.order.totalAmount">количество</th>
                        <th pg-text="priceListPosition.price">цена</th>
                        <th pg-text="page.order.totalPrice">сумма</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="{{orderPosition.selectedStyle}}" ng-repeat="orderPosition in order.orderPositions">
                        <td>{{orderPosition.product.name}}</td>
                        <td>{{orderPosition.product.color.name}}</td>
                        <td>{{orderPosition.product.description}}</td>
                        <td>
                            <input type="number" name="moq" class="form-control input-group"
                                   min="0" max="" required=""
                                   ng-change="updatePriceListAmount(orderPosition)"
                                   ng-model="orderPosition.amount"/>
                        </td>
                        <td>{{orderPosition.price}}</td>
                        <td>{{orderPosition.totalPrice}}</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-danger" tooltip="Удалить"
                                    ng-click="deleteOrderPosition(orderPosition)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="1"><span>Итого:</span></th>
                        <th colspan="1"><span>{{calcTotalPrice(order)}}</span></th>
                        <th colspan="1"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-success"
                        ng-model="singleModel"
                        ng-init="singleModel = 0"
                        btn-checkbox
                        btn-checkbox-true="1"
                        btn-checkbox-false="0"
                        ng-click="$parent.showPriceList()"
                        tooltip="Подбор из прайс-листа">
                    <span>Подбор из прайс-листа</span>
                </button>
                <button type="button" class="btn btn-default" tooltip="Обновить" ng-click="$parent.refresh()">
                    <i class="fa fa-refresh"></i>
                    <span>Обновить</span>
                </button>
            </div>
        </div>
        <div class="row form-group" ng-show="showHidePriceList">
            <div class="col-sm-12">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цвет</th>
                        <th>Спец-ия</th>
                        <th>Описание</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th>МОК</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="{{position.selectedStyle}}" ng-repeat="position in priceList.positions"
                        ng-click="addOrderPosition(position)">
                        <td>{{position.product.name}}</td>
                        <td>{{position.product.color.name}}</td>
                        <td>{{position.specification.name}}</td>
                        <td>{{position.description}}</td>
                        <td>{{position.amount}}</td>
                        <td>{{position.price}}</td>
                        <td>{{position.moq}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-offset-1 col-sm-5">

            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">

    <div class="has-error form-group" ng-show="showSaveError">
        <div class="form-control">Данные не актуальны. Нажмите обновить.</div>
    </div>

    <button type="submit" class="btn btn-success" form="orderForm"
            ng-disabled="!formEnable(orderForm)" ng-click="save(orderForm, 'PREPARE')">
        <i class="fa fa-save"></i>
        <span>Сохранить</span>
    </button>

    <button type="button" class="btn btn-default" ng-click="print()" ng-disabled="!formEnable(orderForm)">
        <i class="fa fa-print"></i>
        <span>Печать</span>
    </button>

    <button type="button" class="btn btn-default" ng-click="review(order)" ng-disabled="!formEnable(orderForm)">
        <i class="fa fa-eye"></i>
        <span>Посмотреть</span>
    </button>

    <button type="submit" class="btn btn-success" form="orderForm"
            ng-disabled="!formEnable(orderForm)" ng-click="save(orderForm, 'SENT')">
        <i class="fa fa-save"></i>
        <span>Отправить</span>
    </button>

    <button type="reset" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
            class="fa fa-times-circle fa-lg"></i> <span pg-text="button.close"></span></button>
</footer>