<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
            class="fa fa-times-circle fa-lg"></i></button>
    <h1 class="gf-modal-heading" pg-text="orderPosition">Order</h1>
</header>

<div id="orderView" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-3 text-right right-padding-5">Статус: {{order.status | statusFilter}}</div>
    </div>
    <h4 class="text-center">Накладная №{{order.id}}
        <small> от {{order.sendDate|date : 'd.M.yyyy'}}</small>
    </h4>
    <div class="row">
        <div class="text-right col-sm-offset-1 col-sm-2 right-padding-5" th:text="#{order.seller}">Поставщик:</div>
        <div class="col-sm-3 left-padding-0">{{order.seller.name}}</div>
    </div>
    <div class="row form-group">
        <div class="text-right col-sm-offset-1 col-sm-2 right-padding-5" pg-text="order.phoneNumber">Телефон</div>
        <div class="col-sm-3 left-padding-0">{{order.seller.phone}}</div>
    </div>
    <div class="row">
        <div class="text-right col-sm-offset-1 col-sm-2 right-padding-5" th:text="#{order.buyer}">Покупатель:</div>
        <div class="col-sm-3 left-padding-0">{{order.buyer.name}}</div>
    </div>
    <div class="row">
        <div class="text-right col-sm-3 right-padding-5" th:text="#{order.contactData}">Контактные данные:</div>
        <div class="col-sm-offset-2 col-sm-6"> {{order|deliveryFilter}}</div>
    </div>
    <div class="row">
        <div class="text-right col-sm-offset-1 col-sm-2 right-padding-5" pg-text="order.name">Имя</div>
        <div class="col-sm-2 left-padding-0">{{order.contactName}}</div>
        <div class="col-sm-2">{{order.place}}</div>
    </div>

    <div class="row">
        <div class="text-right control-label col-sm-offset-1 col-sm-2 right-padding-5" pg-text="order.phoneNumber">
            Телефон
        </div>
        <div class="col-sm-2 left-padding-0">{{order.phone}}</div>
        <div class="col-sm-1" pg-text="order.onDate">на дату</div>
        <div class="col-sm-2">{{order.deliveryDate | date : deliveryDateFormat}}</div>
        <div class="col-sm-4">
            с {{order.fromTime | date : 'hh:mm'}} до
            {{order.toTime | date : 'hh:mm'}}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-5 col-sm-6">{{order.description}}</div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th pg-text="priceListPosition.name">Наименование</th>
                    <th pg-text="color">цвет</th>
                    <th pg-text="note">примичание</th>
                    <th pg-text="page.order.totalAmount">количество</th>
                    <th pg-text="priceListPosition.price">цена</th>
                    <th pg-text="page.order.totalPrice">сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderPosition in order.orderPositions">
                    <td>{{orderPosition.product.name}}</td>
                    <td>{{orderPosition.product.color.name}}</td>
                    <td>{{orderPosition.product.description}}</td>
                    <td>{{orderPosition.amount}}</td>
                    <td>{{orderPosition.price}}</td>
                    <td>{{orderPosition.price * orderPosition.amount}}</td>
                </tr>
                <tr>
                    <th colspan="4"></th>
                    <th colspan="1"><span>Итого:</span></th>
                    <th colspan="1"><span>{{calcTotalPrice(order)}}</span></th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-offset-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            Гарантия составляет {{order.seller.sellerFreeReplacement}}дн. на замену и
            {{order.seller.sellerFreeRepair}}дн. на бесплатный ремонт.
        </div>
        <div class="col-sm-offset-1 col-sm-10">
            Дополнительные условия: {{order.seller.sellerWarrantyAdditional}}
        </div>
    </div>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="print()">
        <i class="fa fa-print"></i>
        <span>Печать</span>
    </button>
    <button type="reset" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
            class="fa fa-times-circle fa-lg"></i> <span pg-text="button.close"></span></button>
</footer>