<div class="row form-group">
    <div class="col-sm-12">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Цвет</th>
                <th>Спец-ия</th>
                <th>Описание</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th>МОК</th>
            </tr>
            </thead>
            <tbody>
            <tr class="{{position.prices[0].selectedStyle}}"
                ng-repeat-start="position in priceList.positions | pricelistPositionsByVendorAndProduct : vendor : product"
                ng-click="clickAction(position, position.prices[0])">
                <td>{{position.product.name}}</td>
                <td>{{position.product.color.name}}</td>
                <td>{{position.specification.name}}</td>
                <td>{{position.description}}</td>
                <td>{{position.prices[0].amount}}</td>
                <td>{{position.prices[0].price | priceFilter : priceList.currency.symbol}}</td>
                <td>{{position.prices[0].minOrderQuantity}}</td>
            </tr>
            <tr class="{{price.selectedStyle}}"
                ng-repeat="price in position.prices.slice(1)"
                ng-click="clickAction(position, price)">
                <td colspan="4"></td>
                <td colspan="1">{{price.amount}}</td>
                <td colspan="1">{{price.price | priceFilter : priceList.currency.symbol}}</td>
                <td colspan="1">{{price.minOrderQuantity}}</td>
            </tr>
            <tr ng-repeat-end="position in positions"></tr>
            </tbody>
        </table>
    </div>
</div>