<!DOCTYPE html>
<html lang="ru" class="no-js" xmlns:th="http://www.thymeleaf.org" >
<!-- start: HEAD -->
<head>
    <title th:text="#{page.signup.title}">Clip-One - Responsive Admin Template</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,chrome=1" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="../../../resources/components/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/resources/components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/perfect-scrollbar/src/perfect-scrollbar.css"
          th:href="@{/resources/components/perfect-scrollbar/src/perfect-scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/fonts/style.css"
          th:href="@{/resources/assets/common/fonts/style.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/angular-grid/ng-grid.min.css"
          th:href="@{/resources/components/angular-grid/ng-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/angular-loading-bar/build/loading-bar.min.css"
          th:href="@{/resources/components/angular-loading-bar/build/loading-bar.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/iCheck/skins/all.css"
          th:href="@{/resources/components/iCheck/skins/all.css}"/>

    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/main.css"
          th:href="@{/resources/assets/common/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/main-responsive.css"
          th:href="@{/resources/assets/common/css/main-responsive.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/common.css"
          th:href="@{/resources/assets/common/css/common.css}"/>

    <link rel="stylesheet" type="text/css" href="../../../resources/assets/default/css/theme.css"
          th:href="@{/resources/assets/default/css/theme.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/default/css/custom.css"
          th:href="@{/resources/assets/default/css/custom.css}"/>

    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/print.css"
          th:href="@{/resources/assets/common/css/print.css}" media="print"/>

    <link rel="shortcut icon" href="../../../favicon.ico" th:href="@{/favicon.ico}"/>
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login example2">
<div class="main-login col-sm-4 col-sm-offset-4">
    <div class="logo">PRICE<i class="clip-clip"></i>GSM
    </div>
    <div class="box-register">
        <h3 th:text="#{page.signup}">Sign Up</h3>
        <form class="form-register" method="post" th:action="@{/signup}" th:object="${registrationForm}">
            <th:block th:if="${#fields.hasErrors('${registrationForm.*}')}">
                <div th:replace="fragments/alert :: alert (type='danger', message=#{alert.validationForm})">Внимание</div>
            </th:block>
            <fieldset>
                <p th:text="#{page.signup.personal}">
                    Enter your personal details below:
                </p>
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <input type="text" class="form-control" placeholder="Full Name" th:field="*{name}" th:placeholder="#{registrationForm.name}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect email</span>
                </div>

                <p th:text="#{page.signup.login}">
                    Enter your account details below:
                </p>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							<span class="input-icon">
								<input type="email" class="form-control" name="email" th:field="*{email}" th:placeholder="#{registrationForm.email}" placeholder="Email"/>
								<i class="fa fa-envelope"></i> </span>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
							<span class="input-icon">
								<input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" th:placeholder="#{registrationForm.password}"/>
								<i class="fa fa-lock"></i> </span>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect email</span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
							<span class="input-icon">
								<input type="password" class="form-control" placeholder="Password Again" th:field="*{confirmPassword}" th:placeholder="#{registrationForm.confirmPassword}"/>
								<i class="fa fa-lock"></i> </span>
                    <span class="help-block" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Incorrect email</span>
                </div>

                <div class="form-actions">
                    <a  class="btn btn-light-grey go-back" role="button" th:href="@{/signin}">
                        <i class="fa fa-circle-arrow-left"></i> <span th:text="#{button.back}">Back</span>
                    </a>
                    <button type="submit" class="btn btn-bricky pull-right">
                        <span th:text="#{signup.submit}">Submit</span> <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>    <!-- start: COPYRIGHT -->
    <div class="copyright" th:include="fragments/footer :: footer">
        2014 &copy; clip-one by cliptheme.
    </div>
    <!-- end: COPYRIGHT -->
    <script src="../../../resources/components/jquery/jquery.min.js"
            th:src="@{/resources/components/jquery/jquery.min.js}"></script>
    <script src="../../../resources/components/bootstrap/dist/js/bootstrap.min.js"
            th:src="@{/resources/components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script src="../../../resources/components/iCheck/icheck.min.js"
            th:src="@{/resources/components/iCheck/icheck.min.js}"></script>
    <script src="../../../resources/components/perfect-scrollbar/src/perfect-scrollbar.js"
            th:src="@{/resources/components/perfect-scrollbar/src/perfect-scrollbar.js}"></script>

    <script src="../../../resources/js/main.js"
            th:src="@{/resources/js/main.js}"></script>
    <script>
        $(function(){
            Main.init();
        })
    </script>
</div>
</body>
<!-- end: BODY -->
</html>