body.login .box-forgot, body.login .box-register {
    display: block !important;
}

.pg-shop-datepicker {
    margin-top: -6px;
    width: 82px;
}

.pg-id-column {
    width: 60px;
}

.pg-active-column {
    width: 80px;
}

.pg-actions-column {
    width: 100px;
}

@media (max-width: 768px) {

    .pg-button-separator {
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
    }

}

.pg-vendors .active a {
    color: green;
    font-weight: bold;
}

.table > tbody > tr.pg-highlight > td {
    background-color: #c9dde1 !important;
}

