/* angular ui */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body.login .box-forgot, body.login .box-register {
    display: block !important;
}

.pg-shop-datepicker {
    margin-top: -6px;
    width: 82px;
}

.pg-id-column {
    width: 60px;
}

.pg-active-column {
    width: 80px;
}

.pg-actions-column {
    width: 100px;
}

table.pg-pricelist .pg-active {
    width: 50px;
}

table.pg-pricelist .pg-name {
    width: 150px;
}

table.pg-pricelist .pg-color {
    width: 100px;
}

table.pg-pricelist .pg-price {
    width: 120px;
}

table.pg-pricelist .pg-specification {
    width: 150px;
}

table.pg-pricelist .pg-moq {
    width: 120px;
}

table.pg-pricelist .pg-amount {
    width: 100px;
}

table.pg-pricelist .pg-actions {
    width: 100px;
}

@media (max-width: 768px) {

    .pg-button-separator {
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
    }

}

.pg-vendors .active a {
    color: green;
    font-weight: bold;
}

.table > tbody > tr.pg-highlight > td {
    background-color: #c9dde1 !important;
}

.wrap-dd-menu ul.dropdown {
    z-index: 1000;
}

.wrap-dd-menu {
    width: auto;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-29 {
    margin-top: 29px;
}

.margin-top-34 {
    margin-top: 34px;
}

.margin-top-41 {
    margin-top: 41px;
}

.left-padding-0 {
    padding-left: 0 !important;
}

.right-padding-5 {
    padding-right: 5px !important;
}

.vertical-center label,
.vertical-center div {
    vertical-align: middle;
}

.reduceAmountButton {
    height: 22px;
    width: 21px;
}

.reduceAmountButton button  {
    display: none;
}

.reduceAmountButton:hover button  {
    display: block;
}

.no-border,
.no-border-children * {
    border: none !important;
}
