<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pricegsm :: Ошибка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../../resources/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link href="../../../resources/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" th:href="@{/resources/components/bootstrap/dist/css/bootstrap-theme.min.css}"/>
    <link href="../../../resources/assets/common/fonts/style.css" rel="stylesheet" media="screen" th:href="@{/resources/assets/common/fonts/style.css}" />
    <link href="../../../resources/assets/common/css/main.css" rel="stylesheet" media="screen" th:href="@{/resources/assets/common/css/main.css}" />
    <link href="../../../resources/assets/common/css/main-responsive.css" rel="stylesheet" media="screen" th:href="@{/resources/assets/common/css/main-responsive.css}" />
    <link href="../../../resources/assets/common/css/common.css" rel="stylesheet" media="screen" th:href="@{/resources/assets/common/css/common.css}" />
    <link href="../../../resources/assets/default/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/assets/default/css/custom.css}" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error: Error</div>
    <div th:include="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>

</body>

</html>