<div class="row" style="margin-top: 20px" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-3">
        <div class="core-box btn-group">
            <button type="button" class="btn btn-default" ng-model="currency.id" btn-radio="1" th:text="#{currency.USD}"
                    ng-disabled="currencyDisabled">USD
            </button>
            <button type="button" class="btn btn-default" ng-model="currency.id" btn-radio="2" th:text="#{currency.EUR}"
                    ng-disabled="currencyDisabled">EUR
            </button>
            <button type="button" class="btn btn-default" ng-model="currency.id" btn-radio="3" th:text="#{currency.RUB}"
                    ng-disabled="currencyDisabled">RUB
            </button>
        </div>
    </div>
    <div class="col-sm-3">
        <span th:text="#{page.main.dyn}">Динамику показывать за</span>
        <select ng-model="dynRange" ng-change="updateIndexPage()">
            <option>1</option>
            <option>3</option>
            <option>7</option>
            <option>14</option>
            <option>30</option>
        </select>
        <span th:text="#{page.main.day}">дней</span>
    </div>
    <div class="col-sm-6">
        <ul class="list-inline pg-vendors">
            <li ng-class="{'active': product.vendor.id == 1 &amp;&amp; product.type.id == 1}">
                <a ng-click="updateIndexPage(null, 1, 1)" class="btn btn-link btn-sm" role="button">Apple - mobile</a>
            </li>
            <li ng-class="{'active': product.vendor.id == 1 &amp;&amp; product.type.id == 2}">
                <a ng-click="updateIndexPage(null, 1, 2)" class="btn btn-link btn-sm" role="button">Apple - tablet</a>
            </li>
            <li ng-class="{'active':product.vendor.id == 5}">
                <a ng-click="updateIndexPage(null, 5, [1,2])" class="btn btn-link btn-sm" role="button">Samsung</a>
            </li>
            <li ng-class="{'active':product.vendor.id == 7}">
                <a ng-click="updateIndexPage(null, 7, [1,2])" class="btn btn-link btn-sm" role="button">Nokia</a>
            </li>
            <li ng-class="{'active':product.vendor.id == 8}">
                <a ng-click="updateIndexPage(null, 8, [1,2])" class="btn btn-link btn-sm" role="button">HTC</a>
            </li>
            <li ng-class="{'active':product.vendor.id == 3}">
                <a ng-click="updateIndexPage(null, 3, [1,2])" class="btn btn-link btn-sm" role="button">Sony</a>
            </li>
        </ul>
    </div>
</div>
<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-question fa-lg" th:attr="popover=#{alert.selectProduct}"
                   popover-placement="right"
                   popover-trigger="mouseenter"></i>
            </div>
            <div class="panel-body">

                <table class="table table-hover table-condensed">
                    <thead>
                    <th>Наименование</th>
                    <th>Цвет</th>
                    <th>Розница</th>
                    <th>Опт</th>
                    <th>Мир</th>
                    <th>Колич.</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="price in prices" ng-class="{'pg-highlight':price.product.id == product.id}" ng-click="updateProduct(price.product)">
                        <td ng-text="price.name">Iphone 5S 16Gb</td>
                        <td ng-text="price.product.color.name">Gold</td>
                        <td ng-model="price" pg-pricecell="retail"></td>
                        <td ng-model="price" pg-pricecell="opt"></td>
                        <td ng-model="price" pg-pricecell="world"></td>
                        <td ng-text="price.count">128</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-truck fa-lg"></i>
                        <span th:text="#{page.main.date}">На дату</span>
                        <input type="text" class="pg-shop-datepicker"
                               ng-model="shopDate" datepicker-popup=""
                               ng-change="updateShopPrices(shopDate)" max="dateMax"/>
                        <span ng-bind="shopTime | date:'HH:mm'">18:00</span>
                        <pg-market-url product="product" class="panel-tools"></pg-market-url>
                    </div>
                    <div class="panel-body">
                        <div class="gridStyle" ng-grid="gridShopOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="gridStyle" ng-grid="worldPriceOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-stats"></i>
                        <pg-market-url product="product" class="panel-tools"></pg-market-url>
                    </div>
                    <div class="panel-body" pg-chart="chartDatas" data-chart-details="chartDetails">
                        <div class="pg-chart-container flot-small-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
