<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-12">
        <div class="page-header">
            <h1><span th:text="#{page.main}">Главная страница</span>
                <small><span th:text="#{page.main.small}">статистика продаж</span> {{vendor.shortName }}
                    {{product.name}}
                </small>
            </h1>
        </div>
    </div>
</div>
<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-12">
        <div class="core-box btn-group">
            <button type="button" class="btn btn-default" ng-model="currency" btn-radio="1" th:text="#{currency.USD}"
                    ng-disabled="currencyDisabled">USD
            </button>
            <button type="button" class="btn btn-default" ng-model="currency" btn-radio="2" th:text="#{currency.EUR}"
                    ng-disabled="currencyDisabled">EUR
            </button>
            <button type="button" class="btn btn-default" ng-model="currency" btn-radio="3" th:text="#{currency.RUB}"
                    ng-disabled="currencyDisabled">RUB
            </button>
        </div>
    </div>
</div>
<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list-alt fa-lg"></i>
                <span th:span="#{page.main.dyn}">Динамику показывать за</span>
                <select ng-model="dynRange" ng-change="updatePrices(dynRange)">
                    <option>1</option>
                    <option>3</option>
                    <option>7</option>
                    <option>14</option>
                    <option>30</option>
                </select>
                <span th:span="#{page.main.day}">дней</span>
            </div>
            <div class="panel-body">
                <div th:replace="fragments/alert :: alert (type='info', message=#{alert.selectProduct})">
                    &nbsp;</div>

                <ul class="list-inline pg-vendors">
                    <li ng-class="{'active':contains(product.vendor.id, [1,2])}">
                        <a ng-click="showVendors(1,2)" class="btn btn-link btn-sm" role="button">Apple</a>
                    </li>
                    <li ng-class="{'active':contains(product.vendor.id, [5,6])}">
                        <a ng-click="showVendors(5,6)" class="btn btn-link btn-sm" role="button">Samsung</a>
                    </li>
                    <li ng-class="{'active':contains(product.vendor.id, [7])}">
                        <a ng-click="showVendors(7)" class="btn btn-link btn-sm" role="button">Nokia</a>
                    </li>
                    <li ng-class="{'active':contains(product.vendor.id, [8])}">
                        <a ng-click="showVendors(8)" class="btn btn-link btn-sm" role="button">HTC</a>
                    </li>
                    <li ng-class="{'active':contains(product.vendor.id, [3,4])}">
                        <a ng-click="showVendors(3,4)" class="btn btn-link btn-sm" role="button">Sony</a>
                    </li>
                </ul>

                <table class="table table-hover table-condensed">
                    <thead>
                    <th>Наименование</th>
                    <th>Цвет</th>
                    <th>Розница</th>
                    <th>Опт</th>
                    <th>Мир</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="price in prices" ng-class="{'pg-highlight':price.product.id == product.id}" ng-click="updateProduct(price.product)">
                        <td ng-text="price.name"></td>
                        <td ng-text="price.product.color.name"></td>
                        <td ng-model="price" pg-pricecell="retail"></td>
                        <td ng-model="price" pg-pricecell="opt"></td>
                        <td ng-model="price" pg-pricecell="world"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-truck fa-lg"></i>
                        <span th:text="#{page.main.date}">На дату</span>
                        <input type="text" class="pg-shop-datepicker"
                               ng-model="shopDate" datepicker-popup="dd.MM.yyyy" show-button-bar="false"
                               ng-change="updateShopPrices(shopDate)" max="{{dateMax}}"/>

                        <div class="panel-tools">
                            <a ng-href="{{marketUrl()}}" target="_blank">{{product.vendor.shortName }} {{product.name}}</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="gridStyle" ng-grid="gridShopOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-stats"></i>
                        <select ng-model="chartRange" ng-change="updateChart(chartRange)">
                            <option>7</option>
                            <option>30</option>
                            <option>90</option>
                            <option>365</option>
                        </select>
                        <span th:span="#{page.main.day}">дней</span>

                        <div class="panel-tools">
                            <a ng-href="{{marketUrl()}}" target="_blank">{{product.vendor.shortName }} {{product.name}}</a>
                        </div>
                    </div>
                    <div class="panel-body" pg-chart="chartDatas" data-chart-details="chartDetails">
                        <div class="pg-chart-container flot-small-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
