<div class="row" ng-init="positions = {}" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Фильтры</span>
            </div>
            <div class="panel-body">
                <div class="col-xs-2 left-padding-0">
                    <select class="form-control" ng-model="vendorFilter"
                            ng-change="selectVendor()"
                            ng-options="vendor.name for vendor in vendors">
                        <option value="" th:text="#{page.order.all}">все</option>
                    </select>
                </div>
                <div class="col-xs-2 left-padding-0">
                    <select class="form-control" ng-model="productFilter"
                            ng-change="selectProduct(productFilter)"
                            ng-options="product.name for product in products | productsByVendor : vendorFilter">
                        <option value="" th:text="#{page.order.all}">все</option>
                    </select>
                </div>
                <div class="col-xs-2 left-padding-0">
                    <select class="form-control" ng-model="filter"
                            ng-change="selectFilter(filter)"
                            ng-options="filter.vendor.name + ' ' + filter.product.name for filter in buyer.marketplaceFilters">
                        <option value="" th:text="#{page.order.all}">все</option>
                    </select>
                </div>
                <div class="col-xs-2 left-padding-0">
                    <select class="form-control" ng-model="seller"
                            ng-options="seller.name for seller in sellers">
                        <option value="" th:text="#{page.order.all}">все</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <!-- marketplace -->
        <div class="row">
            <!-- price lists -->
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question fa-lg"
                           popover-placement="right"
                           popover-trigger="mouseenter"></i>
                        <span>Площадка</span>
                    </div>
                    <div class="panel-body">
                        <!-- new order -->
                        <form id="orderForm" ng-hide="hideOrderForm"
                              class="panel panel-default form-horizontal form-group">
                            <pg-order order="order"
                                      readonly="{{false}}"
                                      update-order="updateOrder(order)"
                                    >

                            </pg-order>
                            <div class="row form-group">
                                <div class="col-xs-offset-1 col-xs-11">
                                    <button type="button" class="btn btn-default" tooltip="Оформить"
                                            ng-click="showHideForm()">
                                        <i class="fa"></i>
                                        <span>{{showHideFormLabel}}</span>
                                    </button>

                                    <button type="reset" class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                                            ng-click="cancel()"><i
                                            class="fa fa-times-circle fa-lg"></i> <span pg-text="button.delete"></span>
                                    </button>
                                    <button pg-load-price-list-service=""
                                            pg-load-price-list=""
                                            user-id="{{selectedPriceList.user.id}}"
                                            position="{{selectedPriceList.position}}"
                                            callback="mergePriceListAndOrder(data)"
                                            type="button" class="btn btn-default">
                                        <i class="fa fa-refresh"></i>
                                        <span>Обновить</span>
                                    </button>
                                </div>
                            </div>
                            <div ng-hide="hideForm">
                                <div class="row form-group">

                                    <div class="text-right text-right  col-xs-3 control-label right-padding-5">
                                        Контактное лицо:
                                    </div>
                                    <div class="col-sm-2  left-padding-0">
                                        <input type="text" class="form-control"
                                               ng-model="order.contactName"/>
                                    </div>

                                    <label class="text-right col-sm-offset-1 col-xs-2 right-padding-5">
                                        <div class="control-label" pg-text="order.phoneNumber">Телефон</div>
                                    </label>

                                    <div class="col-sm-2 left-padding-0">
                                        <input type="text" class="form-control"
                                               ng-model="order.phone"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-offset-1 col-sm-7">
                                        <pg-delivery-selection
                                                order="order"
                                                delivery-places="deliveryPlaces">
                                        </pg-delivery-selection>
                                    </div>
                                </div>

                                <div class="row form-group vertical-center">
                                    <pg-date-list-selector class="col-sm-5"
                                            price-list="selectedPriceList"
                                            order="order">

                                    </pg-date-list-selector>
                                    <pg-order-time-period class="col-xs-5"
                                                    order="order"
                                                    seller="selectedPriceList.user"
                                                    min-delay="2"></pg-order-time-period>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-offset-1 col-xs-9">
                                        <input class="form-control" type="text" placeholder="Примечание"
                                               ng-model="order.description"/>
                                    </div>
                                </div>
                                <div pg-load-price-list-service="" class="row form-group">
                                    <button pg-update-and-save-order="PREPARE"
                                            order="order"
                                            update="mergePriceListAndOrder(data)"
                                            callback="cancel()"
                                            on-failure="onFailureSaveOrder()"
                                            type="submit" class="col-xs-offset-1 btn btn-success" form="orderForm"
                                            ng-disabled="false">
                                        <i class="fa fa-save"></i>
                                        <span>Сохранить</span>
                                    </button>

                                    <button type="button" class="btn btn-default" ng-click="review(order)"
                                            ng-disabled="false">
                                        <i class="fa fa-eye"></i>
                                        <span>Посмотреть</span>
                                    </button>

                                    <button
                                            pg-update-and-save-order="SENT"
                                            order="order"
                                            update="mergePriceListAndOrder(data)"
                                            callback="cancel()"
                                            on-failure="onFailureSaveOrder()"
                                            type="submit" class="btn btn-success" form="orderForm"
                                            ng-disabled="false">
                                        <i class="fa fa-save"></i>
                                        <span>Отправить</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row form-group" ng-hide="hideOrderForm"></div>
                        <div class="row form-group" ng-hide="hideOrderForm"></div>
                        <div class="row form-group" ng-hide="hideOrderForm"></div>
                        <!-- price lists -->
                        <div class="{{isHidePriceLists(pricelist)}}"
                             ng-repeat="pricelist in pricelists | pricelistBySeller:seller | orderBy : [pricelist.orderingPosition, pricelist.user.name, pricelist.user.sellFromDate]">
                            <div class="row">
                                <div class="col-xs-2">
                                    <h4>{{pricelist.user.name}}</h4>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <button ng-click="showAllPosition()"
                                            ng-show="isShowAllPositionButton(pricelist)" type="button" class="btn btn-default ng-hide">
                                        <span>{{showAllPositionButton}}</span>
                                    </button>
                                </div>
                                <div class="col-xs-offset-5 col-xs-2 text-right">
                                    <button type="button" class="btn btn-default">
                                        <span>{{pricelist.sellFromDate}}</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 ng-hide" ng-show="pricelist.user.sellerPickup">
                                    самовывоз <b>{{pricelist.user.sellerPickupPlace}}</b>
                                    {{pricelist.user.sellerPickupFrom | date: 'HH:mm'}}-{{pricelist.user.sellerPickupTo
                                    | date: 'HH:mm'}}
                                </div>
                                <div class="col-xs-5 ng-hide" ng-show="pricelist.user.sellerDelivery">
                                    доставка <b>{{pricelist.user.sellerDeliveryPlace}}</b>
                                    {{pricelist.user.sellerDeliveryFrom |
                                    date:'HH:mm'}}-{{pricelist.user.sellerDeliveryTo | date: 'HH:mm'}}
                                </div>
                                <div class="col-xs-2">
                                    Гар. {{pricelist.user.sellerFreeRepair}}дн.
                                </div>
                            </div>
                            <pg-pricelist
                                    pricelist="pricelist"
                                    order="order"
                                    vendor-filter="vendorFromFilter"
                                    product-filter="productFromFilter"
                                    on-select-action="selectPriceListPosition(data)">
                            </pg-pricelist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <!-- statistic -->
        <!-- market prices  -->
        <pg-shop-prices
                on-date-change="updateStatistic(data)"
                prices="yandexPrices"
                currency="currency"
                product="product"></pg-shop-prices>

        <!-- charts -->
        <pg-price-delta-chart
                month-names="monthNames"
                chart="chart"
                currency="currency"></pg-price-delta-chart>
    </div>
</div>
