<div class="row">
    <!-- orders  -->
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-question fa-lg"
                   popover-placement="right"
                   popover-trigger="mouseenter"></i>
                <span>Заказы</span>
            </div>
            <div class="panel-body"> jhvkvhgk
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>{{order.seller.name}}</h4>
                            </div>
                            <div class="col-xs-6 text-right">
                                <span>21 декабря, суббота</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>дата созд.</th>
                                <th>контрагент</th>
                                <th>сумма</th>
                                <th>валюта</th>
                                <th>кол-во</th>
                                <th>логистика</th>
                                <th>дата отгр.</th>
                                <th>статус</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in orders" ng-click="orderDetails(order)">
                                <td>{{order.sendDate|date:'dd-MM-yyyy'}}</td>
                                <td>{{order.buyer.name}}</td>
                                <td>{{order.totalPrice}}</td>
                                <td>{{order.currency.code}}</td>
                                <td>{{order.totalAmount}}</td>
                                <td>{{order.delivery}}</td>
                                <td>{{order.deliveryDate}}</td>
                                <td>{{order.status}}</td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-danger" tooltip="Удалить">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>