<div xmlns:th="http://www.thymeleaf.org">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-question fa-lg"
               popover-placement="right"
               popover-trigger="mouseenter"></i>
            <span th:text="#{partner.page.title}"></span>
        </div>
        <div class="panel-body">
            <div class="row  margin-top-20 form-group">
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="findName"/>
                </div>
                <div class="col-sm-1">
                    <button type="reset" class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                            ng-click="findPartner(findName)"
                            ng-disabled="isEmpty(findName)"><i
                            class="fa fa-lg"></i> <span th:text="#{partner.find}"></span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <div ng-show="isExistFindResult()" class="ng-hide">
                        <span th:text="#{partner.found}" class="right-padding-5"></span>
                        <span class="right-padding-5">{{foundUser.organizationName}}</span>
                        <span class="right-padding-5">{{foundUser.name}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button ng-show="isShowAddButton()" type="reset" class="ng-hide btn btn-default" data-dismiss="modal"
                            aria-hidden="true"
                            ng-click="sendRequest($event)"><i
                            class="fa fa-lg"></i> <span th:text="#{partner.send.rquest}"></span>
                    </button>
                    <label ng-show="isShowAlreadyAddedLabel()" class="ng-hide" th:text="#{partner.already.added}"></label>
                </div>
            </div>


            <div class="row  form-group">
                <div class="col-sm-12">

                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th th:text="#{partner.organization.name}">Наименование</th>
                            <th th:text="#{partner.name}">имя</th>
                            <th th:text="#{partner.phone}">телефон</th>
                            <th th:text="#{partner.city}">город</th>
                            <th th:text="#{partner.price.list}">прайс</th>
                            <th th:text="#{partner.last.order}">посл. заказ</th>
                            <th th:text="#{partner.last.price.list}">посл. прайс</th>
                            <!--<th th:text="#{partner.note}">примечание</th>-->
                            <th th:text="#{partner.web.site}">WEB-сайт</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="{{getPartnerClassName(partner)}}" ng-repeat="partner in partners">
                            <td>{{partner.partnerOrganizationName}}</td>
                            <td>{{partner.partnerName}}</td>
                            <td>{{partner.partnerPhone}}</td>
                            <td>{{partner.partnerCity}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" ng-model="partner.showPriceList"/>
                                </label>
                            </td>
                            <td>{{partner.lastOrderSend|date : 'dd.MM.yyyy' | pgNoDataFilter}}</td>
                            <td>{{partner.lastPriceList|date : 'dd.MM.yyyy' | pgNoDataFilter}}</td>
                            <!--<td>{{partner.note}}</td>-->
                            <td>{{partner.partnerWebsite}}</td>
                            <td>
                                <button ng-show="isShowApprovePartnerButton(partner)"
                                        type="button" class="btn btn-xs btn-green ng-hide" tooltip="Добавить"
                                        ng-click="addPartner($event, $index, partner)">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button ng-show="isShowDeletePartnerButton(partner)"
                                        type="button" class="btn btn-xs btn-danger ng-hide" tooltip="Удалить"
                                        ng-click="deletePartner($event, $index, partner)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>