<div class="row" xmlns:th="http://www.thymeleaf.org">
<div class="col-md-12">
<tabset>
<tab>
<tab-heading>
    <span th:text="#{page.priceList.current}">Tекущий</span> {{priceLists[0].sellFromDate | date:"dd
    MMM"}} - {{priceLists[0].sellToDate | date:"dd MMM"}}
</tab-heading>
<form role="form" name="plForm" novalidate="">
    <div class="row">
        <div class="col-md-2">
                <toggle-switch
                        knob-label="Опубликовать"
                        on-label="Да"
                        off-label="Нет"
                        th:attr="on-label=#{on},off-label=#{off},knob-label=#{priceList.active}"
                        model="priceLists[0].active"></toggle-switch>
        </div>
        <div class="col-md-5 dropdown" is-open="status.isopen">
            <a href="" role="button" class="btn btn-default dropdown-toggle">
                <span th:text="#{page.priceList.addVendor}">Добавить производителя</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="vendor in freeVendors(0)">
                    <a  class="dropdown-toggle" href="" ng-click="addVendor(vendor, 0);!status.isopen"
                       ng-text="vendor.name">Apple</a>
                </li>
            </ul>

        <button class="btn btn-green" ng-click="extend(plForm, 0)" ng-disabled="!plForm.$valid">
            <span th:text="#{button.extend}">Продлить</span>
            <i class="fa fa-arrow-right"></i>
        </button>
        <button class="btn btn-warning" ng-click="save(plForm, 0)" ng-disabled="!plForm.$valid">
                <span th:text="#{button.save}">Сохранить</span>
                <i class="fa fa-save"></i>
            </button>
        </div>
        <div class="col-md-3">
            <label class="text-right">
                <div class="control-label" pg-text="order.phoneNumber">Телефон</div>
            </label>

            <input type="text" ng-model="priceLists[0].phone"/>
        </div>

        <div class="col-md-2">
            <div class="input-group dropdown">
                <a href="" role="button" class="btn btn-default dropdown-toggle input-group-addon">
                    <span th:text="#{page.priceList.changeCurrency}"
                          ng-show="nextCurrency[0].id == priceLists[0].currency.id">Сменить валюту</span>
                    <span ng-bind="nextCurrency[0].code"
                          ng-hide="nextCurrency[0].id == priceLists[0].currency.id">EUR</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="curr in currencies">
                        <a class="dropdown-toggle" href="" ng-click="setNextCurrency(curr, 0)"
                           ng-text="curr.name">Доллар США</a>
                    </li>
                </ul>

                <input type="text" class="form-control" ng-model="exchangeRate[0]" value="0.7" ng-show="nextCurrency[0].id != priceLists[0].currency.id"/>
                <a role="button" class="input-group-addon btn btn-default" ng-show="nextCurrency[0].id != priceLists[0].currency.id" ng-click="changeCurrency(0)">Пересчитать</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table role="table" class="table pg-pricelist">
                <thead>
                <tr>
                    <th class="pg-active">
                        <i class="fa fa-question-circle"
                           th:attr="tooltip=#{priceListPosition.active.title}"
                           tooltip-placement="right"></i>
                        <span th:text="#{priceListPosition.active}"></span>
                    </th>
                    <th class="pg-name">
                        <i class="fa fa-question-circle"
                           th:attr="tooltip=#{priceListPosition.name.title}"></i>
                        <span th:text="#{priceListPosition.name}">Наименование</span>
                    </th>
                    <th colspan="2" class="pg-color">
                        <i class="fa fa-question-circle"
                           th:attr="tooltip=#{priceListPosition.color.title}"></i>
                        <span th:text="#{priceListPosition.color}">Цвет</span>
                    </th>
                    <th class="pg-price">
                        <i class="fa fa-question-circle"
                           th:attr="tooltip=#{priceListPosition.price.title}"></i>
                        <span th:text="#{priceListPosition.price}">Цена</span>
                    </th>
                    <th class="pg-specification">
                        <i class="fa fa-question-circle"
                           tooltip="Спецификация"
                           th:attr="tooltip=#{priceListPosition.specification.title}"></i>
                        <span th:text="#{priceListPosition.specification}">Спец.</span>
                    </th>
                    <th class="pg-moq">
                        <i class="fa fa-question-circle"
                           tooltip="Минимальный заказ"
                           th:attr="tooltip=#{priceListPosition.moq.title}"></i>
                        <span th:text="#{priceListPosition.moq}">МОК</span>
                    </th>
                    <th>
                        <i class="fa fa-question-circle"
                           th:attr="tooltip=#{priceListPosition.description.title}"></i>
                        <span th:text="#{priceListPosition.description}">Примечание</span>
                    </th>
                    <th class="pg-amount">
                        <i class="fa fa-question-circle"
                           th:attr="tooltip=#{priceListPosition.amount.title}"></i>
                        <span th:text="#{priceListPosition.amount}">Остаток</span>
                    </th>
                    <th class="pg-actions"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="vendor in selectedVendors[0]">
                    <td>
                        <button type="button" class="btn btn-xs btn-danger"
                                ng-hide="filterByVendor(priceLists[0].positions, vendor.id, false).length > 0"
                                ng-click="selectedVendors[0].splice($index, 1)"
                                tooltip="Удалить позицию" tooltip-placement="right">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                    <td>
                        <h4 class="center" ng-text="vendor.name">Apple</h4>
                    </td>
                    <td colspan="2">
                        <div class="row">
                            <div class="col-xs-12 dropdown">
                                <a href='' class="dropdown-toggle">добавить модель</a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="product in productsByVendor(vendor.id)">
                                        <a class="dropdown-toggle" href=""
                                           ng-click="addPosition(priceLists[0], product)">{{product.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td colspan="5">
                        <label>
                            <input type="checkbox" ng-model="showAll[vendor.id]"/> показать все
                        </label>
                    </td>
                </tr>
                <tr ng-repeat="position in filterByVendor(priceLists[0].positions, vendor.id, showAll[vendor.id])"
                    ng-form="" name="pForm">
                    <td>
                        <div class="form-group" ng-hide="position.fake">
                            <input type="checkbox" ng-model="position.active"/>
                        </div>
                        <div class="form-group" ng-show="position.fake">
                            <button type="button" class="btn btn-xs btn-success"
                                    ng-click="addPosition(priceLists[0], position.product)"
                                    th:attr="tooltip=#{page.priceList.addPosition}">
                                <i class="fa fa-plus-square"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <p class="form-control-static"
                               ng-bind="position.product.name">
                                iPhone 5S 16Gb
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-hide="position.fake">
                            <div>
                                <div th:attr="tooltip=#{priceListPosition.add.product.color}">
                                <button ng-click="addPositionNextColor(priceLists[0], position.product.name, position.product.color.id)"
                                        type="button"
                                        class="btn btn-green btn-xs"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-hide="position.fake">
                        <div class="row">
                            <div class="col-sm-12 dropdown">
                                <a href='' class="dropdown-toggle btn btn-default btn-md">
                                    <span ng-bind="position.product.color.name">White</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="product in products | filter:{yandexId:position.product.yandexId}">
                                        <a class="dropdown-toggle" href="" ng-click="position.product = product"
                                           ng-text="product.color.name">Black</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="position.fake">
                        <p class="form-control-static" ng-text="position.product.color.name">White</p>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-class="{'has-error':!pForm.price.$valid}" ng-hide="position.fake">
                        <div class="input-group">
                            <input name="price" type="number" class="form-control"
                                   min="1" required=""
                                   ng-model="position.price"/>
                            <span class="input-group-addon">{{priceLists[0].currency.symbol}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-hide="position.fake">
                        <select class="form-control"
                                ng-model="position.specification.id"
                                ng-options="o.id as o.name for o in specifications">
                            <option value="">Нет</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-class="{'has-error':!pForm.moq.$valid}" ng-hide="position.fake">
                        <div class="input-group">
                            <span class="input-group-addon">от</span>
                            <input type="number" name="moq" class="form-control" min="1" required=""
                                   ng-model="position.moq"/>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-hide="position.fake">
                        <input type="text" class="form-control"
                               ng-model="position.description"/>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-class="{'has-error':!pForm.amount.$valid}" ng-hide="position.fake">
                        <input type="number" name="amount" class="form-control" min="0" required=""
                               ng-model="position.amount"/>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-hide="position.fake">
                        <p>
                            <button type="button" class="btn btn-xs btn-success"
                                    ng-click="position.amount = 9999"
                                    tooltip="Не контролировать остаток">
                                &infin;
                            </button>
                            <button type="button" class="btn btn-xs btn-danger"
                                    ng-click="priceLists[0].positions.splice($index, 1)"
                                    tooltip="Удалить позицию">
                                <i class="fa fa-times"></i>
                            </button>
                        </p>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end="vendor in vendors"></tr>
            </tbody>
        </table>
    </div>
</div>
</form>
</tab>
<tab ng-repeat="priceList in preOrderPriceLists()">
    <tab-heading>
        <span th:text="#{page.priceList.preOrder}">Предзаказ</span> {{priceList.sellFromDate | date:"dd
        MMM"}} - {{priceList.sellToDate | date:"dd MMM"}}
    </tab-heading>
    Скоро будет
</tab>
<tab ng-show="priceLists.length &lt; 3" disabled="true">
    <tab-heading>
        <a href="javascript:void(0)" ng-click="addPreOrder()">
            <i class="fa fa-plus"></i><span
                th:text="#{page.priceList.preOrder.create}">Создать предзаказ</span>
        </a>
    </tab-heading>
</tab>
<tab>
<tab-heading>
    <span th:text="#{page.priceList.settings}">Условия работы</span>
</tab-heading>
<form name="userForm" role="form" ng-submit="updateWorkConditions(userForm)" class="form-horizontal" novalidate="">
<div class="row">
<div class="col-md-12">
    <button class="btn btn-warning" ng-disabled="!userForm.$valid">
        <span th:text="#{button.save}">Сохранить</span>
        <i class="fa fa-save"></i>
    </button>
</div>
<div class="col-md-12">
    <fieldset>
        <legend>Гарантия</legend>
        <div class="form-group" ng-class="{'has-error':!userForm.sellerFreeReplacement.$valid}">
            <label class="control-label col-xs-3" th:text="#{user.sellerFreeReplacement}">Бесплатная замена</label>

            <div class="col-xs-3">
                <div class="input-group" style="width:100px">
                    <input type="number" name="sellerFreeReplacement" class="form-control"
                           ng-model="user.sellerFreeReplacement" required="" min="0"/>
                    <span class="input-group-addon">дн.</span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':!userForm.sellerFreeRepair.$valid}">
            <label class="control-label col-xs-3" th:text="#{user.sellerFreeRepair}">Бесплатный ремонт</label>

            <div class="col-xs-3">
                <div class="input-group" style="width:100px">
                    <input type="number" name="sellerFreeRepair" class="form-control"
                           min="0" required=""
                           ng-model="user.sellerFreeRepair"/>
                    <span class="input-group-addon">дн.</span>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':!userForm.sellerWarrantyAdditional.$valid}">
            <label class="control-label col-sm-3" th:text="#{user.sellerWarrantyAdditional}">Дополнительно</label>

            <div class="col-sm-9">
                <input type="text" name="sellerWarrantyAdditional" class="form-control"
                       placeholder="Дополнительные условия гарантии и работы"
                       th:placeholder="#{user.sellerWarrantyAdditional.title}"
                       ng-maxlength="255"
                       ng-model="user.sellerWarrantyAdditional"/>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Доставка</legend>
        <div class="row form-group">
            <label class="text-right col-xs-3 margin-top-41">Тип доставки</label>

            <div class="col-xs-3 margin-top-29">
                <label class="checkbox-inline">
                    <input name="deliveryType" type="checkbox" ng-model="user.sellerPickup" ng-value="false"/>
                    <span>Самовывоз</span>
                </label>
                <label class="checkbox-inline">
                    <input name="deliveryType" type="checkbox" ng-model="user.sellerDelivery" ng-value="true"/>
                    <span>Доставка</span>
                </label>
            </div>
            <div class="col-xs-2 margin-top-34">
                <label class="control-label">Заказ осуществляется до</label>
            </div>
            <div class="col-xs-3">
                <timepicker ng-model="user.deadLine" minute-step="30" show-meridian="false">
                </timepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset ng-show="user.sellerPickup">
                    <legend>Условия самовывоза</legend>

                    <div class="form-group">
                        <label class="control-label col-lg-3">Место самовывоза</label>

                        <div class="col-lg-9 radio">
                            <label class="radio-inline">
                                <input name="pickupPlace" type="radio" ng-model="user.sellerPickupPlace"
                                       th:value="#{no}" value="Нет"/>
                                <span th:text="#{no}">Нет</span>
                            </label>
                            <label class="radio-inline" ng-repeat="p in deliveryPlaces">
                                <input name="pickupPlace" type="radio" ng-model="user.sellerPickupPlace"
                                       ng-value="p.name"/>
                                <span ng-text="p.name">Митино</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"
                               th:text="#{user.sellerPickupPlaceAddition}">Дополнительно</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   th:placeholder="#{user.sellerPickupPlaceAddition.title}"
                                   placeholder="Дополнительные условия самовывоза"
                                   ng-model="user.sellerPickupPlaceAddition"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" th:text="#{page.priceList.pickupTime}">Время
                            самовывоза</label>

                        <div class="col-sm-9">
                            <label>с</label>

                            <div ng-model="user.sellerPickupFrom" style="display:inline-block;">
                                <timepicker minute-step="30" show-meridian="false"></timepicker>
                            </div>
                            <label>до</label>

                            <div ng-model="user.sellerPickupTo" style="display:inline-block;">
                                <timepicker minute-step="30" show-meridian="false"></timepicker>
                            </div>
                        </div>
                         
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset ng-show="user.sellerDelivery">
                    <legend>Условия доставки</legend>

                    <div class="form-group">
                        <label class="control-label col-lg-3">Место доставки</label>

                        <div class="col-lg-9 radio">
                            <label class="radio-inline">
                                <input name="deliveryPlace" type="radio" ng-model="user.sellerDeliveryPlace"
                                       th:value="#{no}" value="Нет"/>
                                <span th:text="#{no}">Нет</span>
                            </label>
                            <label class="radio-inline" ng-repeat="d in deliveryPlaces">
                                <input name="deliveryPlace" type="radio" ng-model="user.sellerDeliveryPlace"
                                       ng-value="d.name"/>
                                <span ng-text="d.name">Митино</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" th:text="#{page.priceList.deliveryTime}">Время
                            доставки</label>

                        <div class="col-sm-9">
                            <label>с</label>

                            <div ng-model="user.sellerDeliveryFrom" style="display:inline-block;">
                                <timepicker minute-step="30" show-meridian="false"></timepicker>
                            </div>
                            <label>до</label>

                            <div ng-model="user.sellerDeliveryTo" style="display:inline-block;">
                                <timepicker minute-step="30" show-meridian="false"></timepicker>
                            </div>
                        </div>
                         
                    </div>
                    <div class="form-group" ng-class="{'has-error':!userForm.sellerDeliveryMin.$valid}">
                        <div class="row">
                            <label class="control-label col-xs-3">
                                <span>Бесплатная доставка</span>
                                <input type="checkbox" ng-model="user.sellerDeliveryFree"/>
                            </label>

                            <div class="col-xs-9" ng-show="user.sellerDeliveryFree">
                                <div class="input-group" style="width:250px">

                                    <span class="input-group-addon">Бесплатно от</span>
                                    <input type="number" name="sellerDeliveryMin" class="form-control"
                                           min="1" required=""
                                           ng-model="user.sellerDeliveryMin"/>
                                    <span class="input-group-addon">шт.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':!userForm.sellerDeliveryCost.$valid}">
                        <div class="row">
                            <label class="control-label col-xs-3">
                                <span>Платная доставка</span>
                                <input type="checkbox" ng-model="user.sellerDeliveryPaid"/>
                            </label>

                            <div class="col-xs-9" ng-show="user.sellerDeliveryPaid">
                                <div class="input-group" style="width:250px">
                                    <input type="number" name="sellerDeliveryCost" class="form-control"
                                           min="0" required=""
                                           ng-model="user.sellerDeliveryCost"/>
                                    <span class="input-group-addon">руб. за доставку</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
</div>
</div>

</form>
</tab>
</tabset>
</div>
</div>
