<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-12">
        <div class="page-header">
            <h1><span th:text="#{page.priceList}">Прайс-Лист</span>
                <small></small>
            </h1>
        </div>
    </div>
</div>
<tabset>
    <tab>
        <tab-heading>
            текущий 25 дек - 26 дек
        </tab-heading>
        Static content
    </tab>
    <tab>
        <tab-heading>
            предзаказ 31 дек - 4 янв
        </tab-heading>
        Static content
    </tab>
    <tab>
        <tab-heading>
            Условия работы
        </tab-heading>
        Static content
    </tab>
</tabset>
