<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="change_password_modal (action)" class="modal fade" id="change-password-modal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:object="${changePasswordForm}" th:action="${action}" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" th:text="#{changePasswordForm}">Узменение пароля</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                        <label class="col-sm-4 control-label" for="password" th:text="#{changePasswordForm.password}">
                            Пароль
                        </label>

                        <div class="col-sm-8">
                            <input type="password" id="password" class="form-control"
                                   th:field="*{password}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}">Ошибка</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
                        <label class="col-sm-4 control-label" for="confirmPassword" th:text="#{changePasswordForm.confirmPassword}">
                            Подтвердите пароль
                        </label>

                        <div class="col-sm-8">
                            <input type="password" id="confirmPassword" class="form-control"
                                   th:field="*{confirmPassword}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('confirmPassword')}"
                                      th:errors="*{confirmPassword}">Ошибка</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button aria-hidden="true" data-dismiss="modal" class="btn btn-default" th:text="#{button.close}">
                        Закрыть
                    </button>
                    <button type="submit" class="btn btn-default" th:text="#{button.confirm}">
                        Подтвердить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

