<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="delete_modal" class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" th:text="#{alert.delete.title}">Подтвердите удаление</h4>
            </div>
            <div class="modal-body">
                <p th:text="#{alert.delete}">
                    Вы собираетесь навсегда удалить запись из базы. Вы уверены?
                </p>
            </div>
            <div class="modal-footer">
                <button aria-hidden="true" data-dismiss="modal" class="btn btn-default" th:text="#{button.close}">
                    Закрыть
                </button>
                <button class="btn btn-default confirm-delete" data-dismiss="modal" th:text="#{button.confirm}">
                    Подтвердить
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

