<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"  ng-app="pricegsm">
<!-- start: HEAD -->
<head>
    <title ng-bind="title">Pricegsm :: Главная страница</title>
    <!-- start: META -->
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,chrome=1"/>
    <![endif]-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="../../../resources/components/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/resources/components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/perfect-scrollbar/src/perfect-scrollbar.css"
          th:href="@{/resources/components/perfect-scrollbar/src/perfect-scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/fonts/style.css"
          th:href="@{/resources/assets/common/fonts/style.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/angular-grid/ng-grid.min.css"
          th:href="@{/resources/components/angular-grid/ng-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/components/angular-loading-bar/build/loading-bar.min.css"
          th:href="@{/resources/components/angular-loading-bar/build/loading-bar.min.css}"/>

    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/main.css"
          th:href="@{/resources/assets/common/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/main-responsive.css"
          th:href="@{/resources/assets/common/css/main-responsive.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/common.css"
          th:href="@{/resources/assets/common/css/common.css}"/>

    <link rel="stylesheet" type="text/css" href="../../../resources/assets/default/css/theme.css"
          th:href="@{/resources/assets/default/css/theme.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/assets/default/css/custom.css"
          th:href="@{/resources/assets/default/css/custom.css}"/>

    <link rel="stylesheet" type="text/css" href="../../../resources/assets/common/css/print.css"
          th:href="@{/resources/assets/common/css/print.css}" media="print"/>

    <link rel="shortcut icon" href="../../../favicon.ico" th:href="@{/favicon.ico}"/>
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="page-full-width" ng-controller="AppCtrl">
<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <!-- start: RESPONSIVE MENU TOGGLER -->
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="clip-list-2"></span>
            </button>
            <!-- end: RESPONSIVE MENU TOGGLER -->
            <!-- start: LOGO -->
            <a class="navbar-brand" href="#" th:href="@{/#/}">
                PRICE<i class="clip-clip"></i>GSM
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="navbar-tools">
        <!-- start: TOP NAVIGATION MENU -->
        <ul class="nav navbar-right">
        <!-- start: USER DROPDOWN -->
        <li class="dropdown current-user">
            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                <span class="username">Пользователь системы</span>
                <i class="clip-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" th:href="@{/#/profile}">
                        <i class="clip-user-2"></i>
                        <span th:text="#{page.profile}">
                            Профиль
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/logout}">
                        <i class="clip-exit"></i>
                        <span th:text="#{page.logout}">Выход</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- end: USER DROPDOWN -->
        </ul>
        <!-- end: TOP NAVIGATION MENU -->
        </div>
        <div class="horizontal-menu navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/">
                        <i class="clip-home-3"></i>
                        <span th:text="#{page.main}">Главная</span>
                    </a>
                </li>
                <li>
                    <a href="#/marketplace">
                        <i class="clip-globe"></i>
                        <span th:text="#{page.marketplace}">Площадка</span>
                    </a>
                </li>
                <li>
                    <a href="#/order">
                        <i class="clip-download-3"></i>
                        <span th:text="#{page.order}">Заказы</span>
                    </a>
                </li>
                <li>
                    <a href="#/sales">
                        <i class="clip-upload-3"></i>
                        <span th:text="#{page.sales}">Продажи</span>
                    </a>
                </li>
                <li>
                    <a href="#/price_list">
                        <i class="clip-list-4"></i>
                        <span th:text="#{page.priceList}">Прайс-Лист</span>

                    </a>
                </li>
                <li>
                    <a href="#/partner">
                        <i class="clip-users-3"></i>
                        <span th:text="#{page.partner}">Контрагенты</span>

                    </a>
                </li>
            </ul>
        </div>
        <!-- end: HORIZONTAL MENU -->
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</div>
<!-- end: HEADER -->
<!-- start: MAIN CONTAINER -->
<div id="top" class="main-container">
    <!-- start: PAGE -->
    <div class="main-content">
        <div class="container ng-view">

        </div>
    </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->
<!-- start: FOOTER -->
<div class="footer clearfix">
    <div class="footer-inner">
        2014 &copy; pricegsm.com
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>
<!-- end: FOOTER -->
<script th:inline="javascript">
    /*<![CDATA[*/
    R = {
        base : /*[[@{/}]]*/ "/pricegsm/",
        i18n: [[${i18n}]],
        get: function(key, args) {
            var msg;
            if ($.isArray(key)) {
                for (var i = 0, l = key.length; i < l; i++) {
                    if (msg = R.i18n[key[i]]) break;
                }
            } else {
                msg = R.i18n[key];
            }

            if (msg) {
                if (args) {
                    for (var name in args) {
                        msg = msg.replace('{' + name + '}', args[name]);
                    }
                }
                return msg;
            } else {
                return key;
            }
        }
    };
    /*]]>*/
</script>
<script src="../../../resources/components/jquery/jquery.min.js"
        th:src="@{/resources/components/jquery/jquery.min.js}"></script>
<script src="../../../resources/components/jquery-ui/ui/minified/jquery-ui.min.js"
        th:src="@{/resources/components/jquery-ui/ui/minified/jquery-ui.min.js}"></script>
<script src="../../../resources/components/jquery-mousewheel/jquery.mousewheel.js"
        th:src="@{/resources/components/jquery-mousewheel/jquery.mousewheel.js}"></script>
<script src="../../../resources/components/bootstrap/dist/js/bootstrap.min.js"
        th:src="@{/resources/components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script src="../../../resources/components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        th:src="@{/resources/components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"></script>
<script src="../../../resources/components/flot/jquery.flot.min.js"
        th:src="@{/resources/components/flot/jquery.flot.min.js}"></script>
<script src="../../../resources/components/flot/jquery.flot.pie.min.js"
        th:src="@{/resources/components/flot/jquery.flot.pie.min.js}"></script>
<script src="../../../resources/components/flot/jquery.flot.resize.min.js"
        th:src="@{/resources/components/flot/jquery.flot.resize.min.js}"></script>
<script src="../../../resources/components/flot/jquery.flot.stack.min.js"
        th:src="@{/resources/components/flot/jquery.flot.stack.min.js}"></script>
<script src="../../../resources/components/flot/jquery.flot.time.min.js"
        th:src="@{/resources/components/flot/jquery.flot.time.min.js}"></script>
<script src="../../../resources/components/perfect-scrollbar/src/perfect-scrollbar.js"
        th:src="@{/resources/components/perfect-scrollbar/src/perfect-scrollbar.js}"></script>

<script src="../../../resources/components/angular/angular.min.js"
        th:src="@{/resources/components/angular/angular.min.js}"></script>
<script src="../../../resources/components/angular-animate/angular-animate.min.js"
        th:src="@{/resources/components/angular-animate/angular-animate.min.js}"></script>
<script src="../../../resources/components/angular-cookies/angular-cookies.min.js"
        th:src="@{/resources/components/angular-cookies/angular-cookies.min.js}"></script>
<script src="../../../resources/components/angular-loader/angular-loader.min.js"
        th:src="@{/resources/components/angular-loader/angular-loader.min.js}"></script>
<script src="../../../resources/components/angular-resource/angular-resource.min.js"
        th:src="@{/resources/components/angular-resource/angular-resource.min.js}"></script>
<script src="../../../resources/components/angular-route/angular-route.min.js"
        th:src="@{/resources/components/angular-route/angular-route.min.js}"></script>
<script src="../../../resources/components/angular-bootstrap/ui-bootstrap-tpls.min.js"
        th:src="@{/resources/components/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>
<script src="../../../resources/components/angular-grid/build/ng-grid.min.js"
        th:src="@{/resources/components/angular-grid/build/ng-grid.debug.js}"></script>
<script src="../../../resources/components/angular-grid/plugins/ng-grid-flexible-height.js"
        th:src="@{/resources/components/angular-grid/plugins/ng-grid-flexible-height.js}"></script>
<script src="../../../resources/components/angular-loading-bar/build/loading-bar.min.js"
        th:src="@{/resources/components/angular-loading-bar/build/loading-bar.min.js}"></script>

<!-- main js -->
<script src="../../../resources/js/main.js"
        th:src="@{/resources/js/main.js}"></script>

<!-- angular files -->
<script src="../../../resources/js/services.js" th:src="@{/resources/js/services.js}"></script>
<script src="../../../resources/js/directives.js" th:src="@{/resources/js/directives.js}"></script>
<script src="../../../resources/js/controllers.js" th:src="@{/resources/js/controllers.js}"></script>
<script src="../../../resources/js/app.js" th:src="@{/resources/js/app.js}"></script>
<script>
    $(function(){
            Main.init();
    })
</script>
</body>
<!-- end: BODY -->
</html>