<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Layout Page</title>
        <link rel="stylesheet" media="screen" th:href="@{/resources/css/common/common.css}"/>
        <link rel="stylesheet" media="screen" th:href="@{/resources/css/default/custom.css}"/>
        <link rel="stylesheet" media="screen" th:href="@{/resources/component/bootstrap/dist/css/bootstrap.css}"/>
    </head>
    <body layout:fragment="body">

    </body>
</html>